<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diliverymanage">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Driverapplicant"></activity>
        <activity android:name=".Dilivery_details" />
        <activity
            android:name=".Driver_home"
            android:label="@string/title_activity_driver_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".driver_up_del" />
        <activity android:name=".Create_driver" />
        <activity android:name=".Manage_drivers" />
        <activity android:name=".assign_driver" />
        <activity android:name=".driverApplication" />
        <activity android:name=".driverlogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>